<h1>Conversation with <%= @conversation.technician.name %></h1>
<em>Between <%= @conversation.user.full_name %> and <%= @conversation.technician.name %></em>

<h3>Messages:</h3>

<% if @conversation.messages.empty? %>
  <h4>There have been no messages sent or received yet </h4>
  <p>Type below to send the first message</p>
<% end %>

<hr>

<% @conversation.messages.each do |message| %>
  <div>
    <%= message.id %> | To: <%= message.to %> From: <%= message.from %> | Body: <%= message.body %>
    <hr>
  </div>
<% end %>

<%= render 'form', remote: true, :conversation => @conversation %>
