<h1>Conversation with <%= @conversation.technician.name %></h1>
<em>Between <%= @conversation.user.full_name %> and <%= @conversation.technician.name %></em>

<h3>Messages:</h3>

<div class="col-sm-6">
  <% if @conversation.messages.empty? %>
    <h4>There have been no messages sent or received yet </h4>
    <p>Type below to send the first message</p>
  <% end %>

  <hr>
  <div id="messages">
    <%= render @conversation.messages.order("created_at ASC") %>
  </div>

  <%= render 'form', remote: true, :conversation => @conversation %>
</div>
