<%= link_to "Add Technician", new_technician_path, class: 'btn btn-primary' %>
<h3>Manage Technicians</h3>
<table class="table table-bordered table-striped table-responsive">
       <thead>
         <tr>
           <th>Name</th>
           <th>Phone Number</th>
           <th>Email</th>
           <th>Address</th>
           <th>lat</th>
           <th>long</th>
           <th></th>
         </tr>
       </thead>
       <tbody>

         <% @technician.each do |technician| %>
         <tr>
           <td>
             <%= technician.name %>
           </td>
           <td>
             <%= technician.phone_number %>
           </td>
           <td>
            <%= technician.email %>
           </td>
           <td>
            <%= technician.address %>
           </td>
           <td>
            <%= technician.latitude %>
           </td>
           <td>
            <%= technician.longitude %>
           </td>
           <td>
             <%= link_to edit_technician_path(technician) do %>
               <i class="fa fa-pencil-square-o fa-2x"></i>
             <% end %>
             &nbsp; &nbsp;
             <%= link_to technician_path(technician), method: :delete, data: { confirm: "Are you sure you want to delete this?" } do %>
               <i class="fa fa-trash-o fa-2x"></i>
             <% end %>
           </td>
         </tr>
         <% end %>
       </tbody>
     </table>

  <div class="row">
    <div class="col-sm-12">
      <h3>Map</h3>
      <div id='map' style='width: 800px; height: 600px;' />
    <script>
      mapboxgl.accessToken = '<%= Rails.application.secrets.mapbox_key %>';

      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v8',
        attributionControl: false
      });
    map.setZoom(7);
    map.setCenter(["-87.544834", "33.1479767"]);
    map.addControl(new mapboxgl.Attribution({position: 'bottom-left'}));
    map.addControl(new mapboxgl.Navigation());

    map.on('load', function () {

      map.addSource("markers", {
          "type": "geojson",
          "data": {
              "type": "FeatureCollection",
              "features": [
                <% @technician.each do |technician| %>
                  {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [<%= technician.longitude %>, <%= technician.latitude %>] // Long then lat
                    },  "properties": {
                          "title": "<%= technician.name %>",
                          "marker-symbol": "monument",
                          "marker-size": "small"
                      }
                  },
                <% end %>
              ]
          }
      });

      map.addLayer({
          "id": "markers",
          "type": "symbol",
          "source": "markers",
          "layout": {
              "icon-image": "{marker-symbol}-15",
              "text-field": "{title}",
              "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
              "text-offset": [0, 0.6],
              "text-anchor": "top"
          }
      });
    });
    </script>
    </div>
  </div>
