<h1>All Inventory Reports </h1>
<% if @inventory_reports.empty? %>
<h2>Sorry there are no inventory reports yet.</h2>
<% end %>
<% if policy(InventoryReport).new? %>
<%= link_to "Add Inventory Report", new_inventory_report_path, class: "btn btn-primary" %>
<% end %>
<br><br>

<table class="table table-bordered table-striped">
  <thead>
      <tr>
        <th>Techician Name:</th>
        <th>Dishes:</th>
        <th>Cannisters:</th>
        <th>Modems:</th>
        <th>Radios:</th>
        <th>Raven Upgrade Kits:</th>
        <th>Upgrade Arms:</th>
        <th>VoIPs:</th>
        <th>Trimasts:</th>
        <th>Notes:</th>
        <th>Date</th>
        <% if policy(InventoryReport).edit? || policy(InventoryReport).destroy? %>
        <th>Actions:</th>
        <% end %>
      </tr>

  </thead>

  <tbody>
    <% @inventory_reports.each do |inventory_report| %>
      <tr>
        <td><%= inventory_report.technician_name %></td>
        <td><%= inventory_report.dish_count %></td>
        <td><%= inventory_report.cannister_count %></td>
        <td><%= inventory_report.modem_count %></td>
        <td><%= inventory_report.radio_count %></td>
        <td><%= inventory_report.raven_upgrade_kit_count %></td>
        <td><%= inventory_report.upgradearm_count %></td>
        <td><%= inventory_report.voip_count %></td>
        <td><%= inventory_report.trimast_count %></td>
        <td><%= inventory_report.notes %></td>
        <td><%= local_time inventory_report.created_at %></td>
        <td>
          <%= link_to edit_inventory_report_path(inventory_report) do %>
            <i class="fa fa-pencil-square-o fa-2x"></i>
          <% end if policy(inventory_report).edit? %>
          &nbsp; &nbsp;
          <%= link_to inventory_report_path(inventory_report), method: :delete, data: { confirm: "Are you sure you want to delete this?" } do %>
            <i class="fa fa-trash-o fa-2x"></i>
          <% end if policy(inventory_report).destroy? %>
        </td>
      </tr>
    <% end %>


  <!--  <tr>
      <th></th>
      <th><%#= @inventory_reports.sum(:dish_count) %></th>
      <th><%#= @inventory_reports.sum(:cannister_count) %></th>
      <th><%#= @inventory_reports.sum(:modem_count) %></th>
      <th><%#= @inventory_reports.sum(:radio_count) %></th>
      <th><%#= @inventory_reports.sum(:raven_upgrade_kit_count) %></th>
      <th><%#= @inventory_reports.sum(:upgradearm_count) %></th>
      <th><%#= @inventory_reports.sum(:voip_count) %></th>
      <th><%#= @inventory_reports.sum(:trimast_count) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr> -->
    <% @inventory_total.each do |total| %>
      <tr class="warning">
        <td></td>
        <td><%= total.dish_count %> dishes</td>
        <td><%= total.cannister_count %> cannisters</td>
        <td><%= total.modem_count %> modems</td>
        <td><%= total.radio_count %> radios</td>
        <td><%= total.raven_upgrade_kit_count %> raven kits</td>
        <td><%= total.upgradearm_count %> upgrade arms</td>
        <td><%= total.voip_count %> VoIPs</td>
        <td><%= total.trimast_count %> trimasts</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>

</table>
