<h1>All Service Requests </h1>
<% if @service_requests.empty? %>
<h2>There have been no service requests yet.</h2>
<% end %>
<%= link_to "Add Service Request", new_service_request_path, class: "btn btn-primary" %>
<div class="pull-right">
<%= link_to "Open Service Requests", open_service_requests_path, class: "btn btn-success" %>
<%= link_to "In Progress Service Requests", in_progress_service_requests_path, class: "btn btn-info" %>
</div>
<br><br>
<% unless @service_requests.empty? %>
<table class="table table-bordered table-striped">
  <thead>
      <tr>
        <th>ID:</th>
        <th>Status</th>
        <th>Name:</th>
        <th>Phone:</th>
        <th>Email:</th>
        <th>Address:</th>
        <th>City:</th>
        <th>State:</th>
        <th>Zipcode:</th>
        <th>Description:</th>
        <th>Submitted:</th>
        <th>Actions:</th>
      </tr>

  </thead>

  <tbody>
    <% end %>
    <% @service_requests.each do |request| %>
      <tr>
        <td><%= link_to request.id, service_request_path(request.id) %></td>
        <td><%= request.status.humanize %></td>
        <td><%= request.customer_name %></td>
        <td><%= request.customer_phone_number %></td>
        <td><%= request.customer_email_address %></td>
        <td><%= request.address %> <%= request.apartment %></td>
        <td><%= request.city %></td>
        <td><%= request.state %></td>
        <td><%= request.zipcode %></td>
        <td><%= request.description %></td>
        <td><%= local_time_ago request.created_at %></td>
        <td>
          <%= link_to edit_service_request_path(request) do %>
            <i class="fa fa-pencil-square-o fa-2x"></i> &nbsp; &nbsp;
          <% end %>
          <%= link_to service_request_path(request), method: :delete, data: { confirm: "Are you sure you want to delete this?" } do %>
            <i class="fa fa-trash-o fa-2x"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
